body {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(155, 153, 153, 0.212);
}

.measurement-calculator {
  width: 580px;
}

.square-bar,
.round-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.square-bar__head,
.round-bar__head {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.square-bar__head__image,
.round-bar__head__image {
  width: 50px;
}

.square-bar__head__description,
.round-bar__head__description {
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

.square-bar__calculation-container {
  transition: transform ease-out 1s;
}

.square-bar__calculation-container select,
.square-bar__calculation-container input,
.square-bar__calculation-container button,
.round-bar__calculation-container select,
.round-bar__calculation-container input,
.round-bar__calculation-container button {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.material-button {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
}

.material-button__buttons {
  padding: 5px;
  width: 100px;
  height: 35px;
  border: none;
  background-color: white;
  transition: all 0.5s;
  background-color: rgba(197, 196, 196, 0.247);
}

.material-button__buttons:hover,
.button-aluminio-active,
.button-cobre-active,
.button-bronze-active,
.button-latao-active,
.button-acoinox-active {
  color: white;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0);
  border-radius: 3px;
  padding: 5px;
  transition: all 0.5s;
}

.button-aluminio {
  background-color: #8f8f8f;
  border-radius: 3px;
}

.button-acoinox {
  background-color: #acb2b4;
  border-radius: 3px;
}

.button-cobre {
  background-color: #b5a642;
  border-radius: 3px;
}

.button-bronze {
  background-color: #db9370;
  border-radius: 3px;
}

.button-latao {
  background-color: #947549;
  border-radius: 3px;
}

@keyframes openNav {
  from {
    height: 50px;
  }
  to {
    height: 165px;
  }
}

@keyframes closeNav {
  from {
    height: 165px;
  }
  to {
    height: 50px;
  }
}

.open-nav-bars {
  animation-name: openNav;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.close-nav-bars {
  animation-name: closeNav;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
